/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
	font-family: "klavika-web", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

.slide {
	font-size: 2em;
	position: absolute;
	opacity: 0.5;
}

#slide1 {
	background-color: red;
}

#slide2 {
	background-color: blue;
}

#slide3 {
	background-color: green;
}

#slide4{
	background-color: yellow;
}
