/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
	font-family: "klavika-web", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

.navbar {
	position: absolute;
	width: 1000px;
	height: 100px;
	top: 10px;
	background-color: white;
	left: 100px;
}

.slide, .object {
	font-size: 2em;
	position: absolute;
	z-index: 1;
}

.object {
	z-index: 2;
}

#slide1 {
	background-color: red;
}

#slide2 {
	background-color: blue;
}

#slide3 {
	background-color: green;
}

#slide4 {
	background-color: yellow;
}

#picture {
	left: 200px;
	width: 100px;
	height: 100px;
	background-color: black;
}
